<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @score.team %>
</p>

<p>
  <strong>Points:</strong>
  <%= @score.points %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
